<%- include('header.ejs') %>
<h1 class="screaming-voice">API Data</h1>
	<ol>
		<% players.forEach(function(player) { %>

		<li class="normal-voice">
			<athlete-card>
				<div class="athlete-info">
					<%=player.fname%> <%=player.lname%>		
					<%=player.id%>		
				</div>				
			</athlete-card>				
		</li>
		<%});%>
	</ol>
	
<%- include('footer.ejs') %>

