<%- include('header.ejs') %>
<%
	const sports = athletes.map( function(athlete) {
		return athlete.sport;
	})

	const sportsFlat = sports.flat();

	const uniqueSport = sportsFlat.filter(function(item, i, sportsFlat) {
		return i == sportsFlat.indexOf(item);
	})
	const sortedSports = uniqueSport.sort();

	function capFirstLetter(string) {
    return string.charAt(0).toUpperCase() + string.slice(1);
	}
%>
<inner-column>
	<h1 class="screaming-voice">Athletes</h1>
	
	<div class="filter">
		<label for="filterSport" class="normal-voice">Filter by Sport:</label>

		<select id="filterSport">
			<option value="all">- - All - -</option>

			<% sortedSports.forEach( function(sport) { %>	
				<option value="<%=sport%>">
					<%=capFirstLetter(sport)%>
				</option>
			<% });%>

		</select>
	</div>

	<ul class="card-grid">
		<% athletes.forEach( function(athlete) { %>

			<li class="sports" data-sport=<%=athlete.sport%>>
				<%- include('athlete-card.ejs', {athlete}) %>

				<div class="card-details">
					<a href="athlete/<%=athlete.slug%>">Athlete Bio</a>
					<button id='flipper'>Flip Card</button>
				</div>
			</li>

		<%});%>
	</ul>
</inner-column>

<%- include('footer.ejs') %>

<script>

	const select = document.getElementById('filterSport')
	let selectedSport = '';
	const $li = document.querySelectorAll('li[class="sports"]');

	select.addEventListener('change', function() {
		selectedSport = select.value;
		console.log(selectedSport);

		$li.forEach( function(item) {
			const dataSport = item.getAttribute('data-sport');

			if (selectedSport === dataSport || selectedSport === 'all') {
				console.log('selectedSport: ', selectedSport, ' | ', 'data sport: ', dataSport)
				item.style.display = 'block';
			} else {
				item.style.display = 'none';
			}
		})
	})

	const dataSport = document.getAttribute('data-sport');
	console.log(dataSport);

	const $athleteCard = document.querySelectorAll('athlete-card');
	const $button = document.querySelectorAll('button');

	$button.forEach( function($button, index) {
		let isFlipped = false;	
		
		$button.addEventListener('click', function(event) {
			$athleteCard[index].classList.toggle('hovered');
			this.innerText = 'flip back';

			if (isFlipped) {
				this.innerText = 'Flip Card';
			} else {
				this.innerText = 'Flip Back';
			}

			isFlipped = !isFlipped;
		});
	});

</script>
