<%- include('header.ejs') %>
<inner-column>
	<h1 class="screaming-voice">Athletes</h1>
	
	<div class="filter">
		<label for="filterType" class="normal-voice">Filter Athletes:</label>
		<select name="" id="filterDropDown">
			<option value="">- - Select - -</option>
			<option value="sport">Sport</option>
			<option value="active">Active</option>
			<option value="retired">Retired</option>
		</select>
	</div>
	<ul class="card-grid">
		<% athletes.forEach( function(athlete) { %>

			<li data-sport=<%=athlete.sport%>>
				<%- include('athlete-card.ejs', {athlete}) %>

				<div class="card-details">
					<a href="athlete/<%=athlete.slug%>">Athlete Bio</a>
					<button id='flipper'>Flip Card</button>
				</div>
			</li>

		<%});%>
	</ul>
</inner-column>
<%- include('footer.ejs') %>

<script>
	
	const $athleteCard = document.querySelectorAll('athlete-card');
	const $button = document.querySelectorAll('button');

	$button.forEach( function($button, index) {
		let isFlipped = false;	
		
		$button.addEventListener('click', function(event) {
			$athleteCard[index].classList.toggle('hovered');
			this.innerText = 'flip back';

			if (isFlipped) {
				this.innerText = 'Flip Card';
			} else {
				this.innerText = 'Flip Back';
			}

			isFlipped = !isFlipped;
		});
	});

</script>