<%- include('header.ejs') %>
<%

%>

<inner-column class="athletes">
	<h1 class="screaming-voice">Athletes</h1>
	
	<section class="sort">
		<label for="sortBy" class="normal-voice">
			Sort By:
		</label>

		<select id="sortBy">
			<option value="all">- - Select - -</option>

			<option value="lastName">Last Name (A - Z)</option>
			<option value="lastNameRev">Last Name (Z - A)</option>

			<option value="yearDesc">Year (Desc)</option>
			<option value="yearAsc">Year (Asc)</option>
		</select>		

		<div class="flip-button">
			<button id='flip-toggle'>Turn Off Hover</button>
		</div>	
	</section>

	<%- include('filter-menu.ejs') %>
	
	<ul class="card-grid">
		<% athletes.forEach( function(athlete) { %>

			<li 
				class="athlete" 
				data-sport="<%=athlete.sport%>" 
				data-year="<%=athlete.collegeSeasons%>";
			>
				<%- include('athlete-card.ejs', {athlete}) %>

				<div class="card-details">
					<a href="athlete/<%=athlete.slug%>">Athlete Bio</a>
					<button class='flipper'>Flip Card</button>
				</div>
			</li>

		<%});%>
	</ul>
</inner-column>

<%- include('footer.ejs') %>
<%- include('scripts/filter-menu-script.ejs') %>
<script>
	// - - - - FILTER BY SPORT CHECKBOX - - - - - - - - 
	const cards = document.querySelectorAll('li[class="athlete"]');
	const sportsCheckboxes = document.querySelectorAll('.sportsOptions input[type="checkbox"]');
	const yearsCheckboxes = document.querySelectorAll('.yearSelect input[type="checkbox"]');
	const yearsLabel = document.querySelectorAll('.yearSelect label')
	const visibleLabels = document.querySelectorAll('.yearSelect label[style="display:block"]');
	
	const visibleYears = visibleLabels.forEach( function(label) {
		const year = label.getAttribute('for');
		return year;
	})
		let allUnchecked = true;
		sportsCheckboxes.forEach( function(checkbox) {
			if (checkbox.checked) {
				allUnchecked = false;
				return;
			} 
		})

		if (allUnchecked) {
			yearsLabel.forEach( function(label) {
				label.style.display = 'block';
			})	
		}
 	function getSelectedAthletes(checkboxType) {
		const selectedItems = [];

		checkboxType.forEach( function(checkbox) {
			if (checkbox.checked) {
				selectedItems.push(checkbox.getAttribute('data-filter'));
			}
		})
		return selectedItems;
	}

	const allYears = [];

	sportsCheckboxes.forEach( function(checkbox) {
		checkbox.addEventListener('change', function() {
			const selectedSports = getSelectedAthletes(sportsCheckboxes);
			const allYears = [];

			cards.forEach( function(card) {
				card.style.display = 'none';
			});

			selectedSports.forEach( function(selectedSport) {
				cards.forEach( function(card) {
					if (card.getAttribute('data-sport') == selectedSport) {
						card.style.display = 'block';		

						const cardYears = card.getAttribute('data-year').split(',');
						allYears.push(...cardYears);

						yearsLabel.forEach( function(label) {
							const labelYear = label.getAttribute('for');

							if (allYears.includes(labelYear)) {
								label.style.display = 'block';

								yearsCheckboxes.forEach( function(checkbox) {
									checkbox.checked = true;
								})
							} else {
								label.style.display = 'none';
								yearsCheckboxes.checked = false;
							}
						})

					} else {
						// label.style.display = 'none';
					}
				})
			})
		})
	})

	// - - - - SORT - - - - SORT - - - - SORT - - - - - 
	// - - - - SORT BY NAME - - - - - - - - - - - - - -
	const $sort = document.getElementById('sortBy');
	const $names = document.querySelectorAll('.name');
	const $athletes = document.querySelectorAll('athlete-card');

	const fNamesArray = [];
	const lNamesArray = [];

	$names.forEach(function(nameElement) {
		const fullName = nameElement.innerText;
		const nameSplit = fullName.split(' ');
		const fName = nameSplit[0];
		const lName = nameSplit[1];	

		fNamesArray.push(fName);
		lNamesArray.push(lName);
	})

	function reorderList(sortedList, selector) {
	  const ul = document.querySelector('.card-grid');
	  const cards = Array.from(document.querySelectorAll('li[class="athlete"]'));

	  // Append the sorted cards to the ul, skipping undefined values
	  sortedList.forEach(function (match) {
	    const card = cards.find(function (athlete) {
	      return athlete.querySelector(selector).innerText.includes(match);
	    });

	    if (card) {
	      ul.appendChild(card);
	    }
	  });
	}

	function reorderListNum(sortedList, selector) {
	  const ul = document.querySelector('.card-grid');
	  const athletes = Array.from(document.querySelectorAll('li[class="athlete"]'));

	  const cardsByYear = {};

	  athletes.forEach(function (athlete) {
	    const firstYear = parseInt(athlete.querySelector(selector).innerText.split(' - ')[0]);

	    if (!cardsByYear[firstYear]) {
	      cardsByYear[firstYear] = [];
	    }

	    cardsByYear[firstYear].push(athlete);
	    console.log('cards by year: ', cardsByYear)
	  });

	  const reorderedCards = [];

	  sortedList.forEach(function (matchYear) {
	    if (cardsByYear[matchYear]) {
	      reorderedCards.push(...cardsByYear[matchYear]);
	    }
		});

	  while (ul.firstChild) {
	    ul.removeChild(ul.firstChild);
	  }

	  reorderedCards.forEach(function (card) {
	    ul.appendChild(card);
	  });
	}

	const years = [];

	$athletes.forEach( function(athlete) {
		const dataYears = athlete.querySelector('.years').innerText;
		const firstYears = parseInt(dataYears.split('-')[0]);

		years.push(firstYears);
	})

	console.log('YEARS: ', years)

	$sort.addEventListener('change', function() {
		selectedSort = $sort.value;

		if (selectedSort == 'lastName') {
			const sortedNames = lNamesArray.slice().sort();

			reorderList(sortedNames, '.name');
		}

		if (selectedSort == 'lastNameRev') {
			const sortedNames = lNamesArray.slice().sort();
			const sortedRev = sortedNames.reverse();

			reorderList(sortedRev, '.name');
		}

		if (selectedSort == 'yearDesc') {
			const sortedYearsDesc = years.slice().sort( function(a, b) {
				return b - a;
			});	
			reorderListNum(sortedYearsDesc, '.years');
		}

		if (selectedSort == 'yearAsc') {
			const sortedYears = years.slice().sort( (a, b) => b - a );	
			const sortedRev = sortedYears.reverse();

			reorderListNum(sortedYears, '.years');
		}
	})

	// - - - - FLIP BUTTON - - - - - - - - - - - -
	const $athleteCards = document.querySelectorAll('athlete-card');
	const $button = document.querySelectorAll('.flipper');

	$button.forEach( function($button, index) {
		let isFlipped = false;	
		
		$button.addEventListener('click', function(event) {
			$athleteCards[index].classList.toggle('hovered');
			$athleteCards[index].classList.toggle('disable-hover');
			this.innerText = 'flip back';

			if (isFlipped) {
				this.innerText = 'Flip Card';
			} else {
				this.innerText = 'Flip Back';
			}

			isFlipped = !isFlipped;
		});
	});

	// - - - - FLIP TOGGLE - - - - - - - - - - - -
	const $flipToggle = document.getElementById('flip-toggle');
	let flipped = false;
	$flipToggle.addEventListener('click', function() {

		$athleteCards.forEach( function(card) {
			card.classList.toggle('disable-hover');
		})

		if (flipped) {
				$flipToggle.innerText = 'Hover is On';
		} else {
				$flipToggle.innerText = 'Hover is Off';

			}

		flipped = !flipped;

	})
</script>
