<%- include('header.ejs') %>
<%

%>

<inner-column class="athletes">
	<h1 class="screaming-voice">Athletes</h1>
	
	<section class="sort">
		<label for="sortBy" class="normal-voice">
			Sort By:
		</label>

		<select id="sortBy">
			<option value="all">- - Select - -</option>

			<option value="lastName">Last Name</option>
			
			<option value="firstName">First Name</option>
		</select>		

		<div class="flip-button">
			<button id='flip-toggle'>Turn Off Hover</button>
		</div>	
	</section>

	
	<%- include('filter-menu.ejs') %>
	
	<ul class="card-grid">
		<% athletes.forEach( function(athlete) { %>

			<li 
				class="athlete" 
				data-sport="<%=athlete.sport%>" 
				data-year="<%=athlete.collegeSeasons%>";
			>
				<%- include('athlete-card.ejs', {athlete}) %>

				<div class="card-details">
					<a href="athlete/<%=athlete.slug%>">Athlete Bio</a>
					<button class='flipper'>Flip Card</button>
				</div>
			</li>

		<%});%>
	</ul>
</inner-column>

<%- include('footer.ejs') %>
<%- include('scripts/filter-menu-script.ejs') %>
<script>
	// - - - - FILTER BY SPORT CHECKBOX - - - - - - - - 



	// - - - - SORT BY NAME - - - - - - - -
	const $sort = document.getElementById('sortBy');
	const $names = document.querySelectorAll('.name');

	const fNamesArray = [];
	const lNamesArray = [];

	$names.forEach(function(nameElement) {
		const fullName = nameElement.innerText;
		const nameSplit = fullName.split(' ');
		const fName = nameSplit[0];
		const lName = nameSplit[1];	

		fNamesArray.push(fName);
		lNamesArray.push(lName);
	})

	$sort.addEventListener('change', function() {
		selectedSort = $sort.value;
		console.log('change');
		if (selectedSort == 'lastName') {
			const sortedNames = lNamesArray.slice().sort();
			console.log('SORTED BY LAST NAME: ', sortedNames);

			reorderList(sortedNames);
		}

		if (selectedSort == 'firstName') {
			const sortedNames = fNamesArray.slice().sort();
			console.log('SORTED BY FIRST NAME: ', sortedNames)

			reorderList(sortedNames);
		}
	})

	function reorderList(sortedList) {
		const ul = document.querySelector('.card-grid');
		const cards = document.querySelectorAll('li[class="athlete"]');
		const newList = [];

		sortedList.forEach( function(name) {
			const li = [...cards].find( function(li) {
				return li.querySelector('.name').innerText.includes(name);
			});

			if (li instanceof Element) {
				newList.push(li);
			}
		})

		// ul.innerHTML = '';

		newList.forEach(function(li) {
			ul.appendChild(li);
		});
	}

	// - - - - FLIP BUTTON - - - - - - - - - - - -
	const $athleteCards = document.querySelectorAll('athlete-card');
	const $button = document.querySelectorAll('.flipper');

	$button.forEach( function($button, index) {
		let isFlipped = false;	
		
		$button.addEventListener('click', function(event) {
			$athleteCards[index].classList.toggle('hovered');
			this.innerText = 'flip back';

			if (isFlipped) {
				this.innerText = 'Flip Card';
			} else {
				this.innerText = 'Flip Back';
			}

			isFlipped = !isFlipped;
		});
	});

	// - - - - FLIP TOGGLE - - - - - - - - - - - -
	const $flipToggle = document.getElementById('flip-toggle');
	let flipped = false;
	$flipToggle.addEventListener('click', function() {
		

		$athleteCards.forEach( function(card) {
			card.classList.toggle('disable-hover');
		})

		if (flipped) {
				$flipToggle.innerText = 'Turn Off Hover';
		} else {
				$flipToggle.innerText = 'Turn On Hover';
			}

		flipped = !flipped;

	})
</script>
