<%- include('header.ejs') %>
<!-- REMOVE BELOW -->
<%
	// Input option value and text from node/contentful
	const sports = athletes.map( function(athlete) {
		return athlete.sport;
	});

	const sportsFlat = sports.flat();
	const uniqueSport = sportsFlat.filter(function(item, i, sportsFlat) {
		return i == sportsFlat.indexOf(item);
	})
	const sortedSports = uniqueSport.sort();

	function capFirstLetter(string) {
    return string.charAt(0).toUpperCase() + string.slice(1);
	}

	const name = athletes.map( function(athlete) {
		return athlete.lastName;
	})

	// athletes.forEach( function(athlete) {
		// console.log('NAME: ', athlete.firstName, athlete.lastName);
		// console.log('Year started: ', athlete.yearStarted);
		
		// for (let year = athlete.yearStarted + 1; year < athlete.yearEnded; year++)
		// console.log('Years in bewtween: ', year);

		// console.log('Year ended: ', athlete.yearEnded);
	// });	
%>

<section class="filter-menu">
	<h3 class="attention-voice">Filter</h3>
	<label for="filterSport" class="normal-voice">
		Filter by Sport:
	</label>

	<select id="filterSport">
		<option value="all">- - All - -</option>

		<% sortedSports.forEach( function(sport) { %>	
			<option value="<%=sport%>">
				<%=capFirstLetter(sport)%>
			</option>
		<% });%>
	</select>


	<div class="sort">
		<label for="sortBy" class="normal-voice">
			Sort By:
		</label>

		<select id="sortBy">
			<option value="all">- - Select - -</option>

			<option value="lastName">Last Name</option>
			
			<option value="firstName">First Name</option>
		</select>			
	</div>
</section>

<!-- REMOVE ABOVE -->
<inner-column class="athletes">
	<h1 class="screaming-voice">Athletes</h1>
	
	<%- include('filter-menu.ejs') %>
	
	<ul class="card-grid">
		<% athletes.forEach( function(athlete) { %>

			<li class="sports" data-sport=<%=athlete.sport%>>
				<%- include('athlete-card.ejs', {athlete}) %>

				<div class="card-details">
					<a href="athlete/<%=athlete.slug%>">Athlete Bio</a>
					<button id='flipper'>Flip Card</button>
				</div>
			</li>

		<%});%>
	</ul>
</inner-column>

<%- include('footer.ejs') %>

<script>
		// - - - - FILTER BY SPORT CHECKBOX - - - - - - - - 

 	const sportsCheckboxes = document.querySelectorAll('.sportsOptions input[type="checkbox"]');
 	const $li = document.querySelectorAll('li[class="sports"]');

 	sportsCheckboxes.forEach( function(checkbox) {
 		checkbox.addEventListener('change', function() {
 			const selectedSports = getSelectedSport();

 			$li.forEach( function(item) {
 				item.style.display = 'none';
 			});

 			selectedSports.forEach( function(selectedSport) {
 				$li.forEach( function(item) {
 					if (item.getAttribute('data-sport') == selectedSport || selectedSport === 'all') {
 							item.style.display = 'block';
 					}
 				})
 			})
 		})
 	})

 	function getSelectedSport() {
 		const selectedSports = [];

 		sportsCheckboxes.forEach( function(checkbox) {
 			if (checkbox.checked) {
 				selectedSports.push(checkbox.getAttribute('data-filter'));
 			}
 		})

 		return selectedSports;
 	}
	// // // - - - - FILTER BY SPORT - - - - - - - - 
	// const select = document.getElementById('filterSport')
	// let selectedSport = '';
	// const $li = document.querySelectorAll('li[class="sports"]');

	// select.addEventListener('change', function() {
	// 	selectedSport = select.value;
	// 	console.log(selectedSport);
	// 	filterBySport(selectedSport);
	// 	console.log($li);
	// })

	// function filterBySport(sport) {
	// 	$li.forEach( function(item) {
	// 		const dataSport = item.getAttribute('data-sport');

	// 		if (selectedSport === dataSport || selectedSport === 'all') {
	// 			item.style.display = 'block';
	// 		} else {
	// 			item.style.display = 'none';
	// 		}
	// 	});
	// }
	// - - - - SORT BY NAME - - - - - - - -
	const $sort = document.getElementById('sortBy');
	const $names = document.querySelectorAll('.name');

	const fNamesArray = [];
	const lNamesArray = [];

	$names.forEach(function(nameElement) {
		const fullName = nameElement.innerText;
		const nameSplit = fullName.split(' ');
		const fName = nameSplit[0];
		const lName = nameSplit[1];	

		fNamesArray.push(fName);
		lNamesArray.push(lName);
	})

	$sort.addEventListener('change', function() {
		selectedSort = $sort.value;
		console.log('change');
		if (selectedSort == 'lastName') {
			const sortedNames = lNamesArray.slice().sort();
			console.log('SORTED BY LAST NAME: ', sortedNames);

			reorderList(sortedNames);
		}

		if (selectedSort == 'firstName') {
			const sortedNames = fNamesArray.slice().sort();
			console.log('SORTED BY FIRST NAME: ', sortedNames)

			reorderList(sortedNames);
		}
	})

	function reorderList(sortedList) {
		const ul = document.querySelector('.card-grid');
		const $li = document.querySelectorAll('li[class="sports"]');
		const newList = [];

		sortedList.forEach( function(name) {
			const li = [...$li].find( function(li) {
				return li.querySelector('.name').innerText.includes(name);
			});

			if (li instanceof Element) {
				newList.push(li);
			}
		})

		// ul.innerHTML = '';

		newList.forEach(function(li) {
			ul.appendChild(li);
		});
	}
	// - - - - FLIP BUTTON - - - - - - - - - - - -
	const $athleteCard = document.querySelectorAll('athlete-card');
	const $button = document.querySelectorAll('button');

	$button.forEach( function($button, index) {
		let isFlipped = false;	
		
		$button.addEventListener('click', function(event) {
			$athleteCard[index].classList.toggle('hovered');
			this.innerText = 'flip back';

			if (isFlipped) {
				this.innerText = 'Flip Card';
			} else {
				this.innerText = 'Flip Back';
			}

			isFlipped = !isFlipped;
		});
	});

</script>
