<%
	const firstYear = athlete.collegeSeasons[0];
	const lastyear = athlete.collegeSeasons[athlete.collegeSeasons.length - 1];

%>
<athlete-card >
	<div class="card">
		<div class="front">
			<div class="athlete-info">
				<picture class="headshot">
					<img src="<%=athlete.headshot%>" alt="headshot of <%=athlete.name%>">
				</picture>

				<picture class="action-shot">
					<img src="<%=athlete.actionShots%>" alt="action shot of <%=athlete.name%> at UW">
				</picture>

				<picture class="logo">
					<img src="assets/logos/uw-logo.png" alt="">
				</picture>

				<h3 class="name attention-voice">
					<%=athlete.name%> 
				</h3>

				<div class="position-container">
					<p class="position calm-voice"><%=athlete.position%></p>
				</div>

				<div class="years-container">
					<p class="years calm-voice">
						<%=firstYear%> - <%=lastyear%>
					</p>
				</div>					
			</div>
		</div>
		
		<div class="back">				
			<picture class="headshot">
				<img src="<%=athlete.headshot%>" alt="">
			</picture>

			<picture class="logo-back">
				<img src="assets/logos/uw-logo.png" alt="">
			</picture>
			
			<h4 class="name-back alert-voice">
				<%=athlete.name%>
			</h4>
			
			<div class="personal-info">
				<p class="quiet-voice">
					<strong>Born:</strong> <%=athlete.birthDate%>
				</p> 
				
				<p class="quiet-voice"><%=athlete.birthPlace%></p>
				
				<p class="quiet-voice">
					<strong>High School:</strong> <%=athlete.highSchool%> (<%=athlete.hsCity%>, <%=athlete.hsState%>)
				</p>
				
				<p class="quiet-voice">
					<strong>Ht:</strong> <%=athlete.heightInFt%>' <%=athlete.heightInIn%>"
					<strong>Wt:</strong> <%=athlete.weight%> lbs
				</p>

				<p class="quiet-voice">
					<%	if(athlete.draftRound === 0) { %>
						<strong>Drafted:</strong> Undrafted
					<% } else { %>

					<strong>Drafted:</strong> Round <%=athlete.draftRound%> - Pick <%=athlete.draftPick%>
					<% } %>
				</p>

				<p class="quiet-voice"><%=athlete.draftTeam%></p>
			</div>
			
			<div class="accolades">
				<p class="quiet-voice"><strong>Awards</strong></p>

				<% if (athlete.collegeAccolades) {
					athlete.collegeAccolades.forEach(function(accolade) { %>
					<p class="quiet-voice"><%-accolade %></p>			    
					<% }); %>
				<% }; %>	
			</div>
			
			<div class="socials">
				<% if (athlete.instagram) { %>
					<div class="instagram">
						<img class="social-icon" src="assets/logos/instagram-logo.svg" alt="">

						<a class="quiet-voice" href="https://instagram.com/<%=athlete.instagram%>" target="_instagram">
							@<%=athlete.instagram%>
						</a>
					</div>
				<% } %>	

				<% if (athlete.twitter) { %>
					<div class="twitter">
						<img class="social-icon" src="assets/logos/twitter-logo.svg" alt="">

						<a class="quiet-voice" href="https://twitter.com/<%=athlete.twitter%>" target="_twitter">
							@<%=athlete.twitter%>
						</a>
					</div>
				<% } %>	
			</div>

			<div class="college" data-position=<%=athlete.position%>>
				<p class="normal-voice"><strong>College Stats</strong></p>
				<%-athlete.collegeStats%>
			</div>
			
			<div class="summary">
				<%-athlete.summary%>
			</div>
		</div>
	</div>			
	
</athlete-card>

