<%- include('header.ejs') %>
<%

%>

<inner-column class="athletes">
	<h1 class="screaming-voice">Athletes</h1>
	
	<section class="sort">
		<label for="sortBy" class="normal-voice">
			Sort By:
		</label>

		<select id="sortBy">
			<option value="all">- - Select - -</option>

			<option value="lastName">Last Name (A - Z)</option>
			<option value="lastNameRev">Last Name (Z - A)</option>

			<option value="yearDesc">Year (Desc)</option>
			<option value="yearAsc">Year (Asc)</option>
		</select>		

		<div class="flip-button">
			<button id='flip-toggle'>Turn Off Hover</button>
		</div>	
	</section>

	<%- include('filter-menu.ejs') %>
	
	<ul class="card-grid">
		<% athletes.forEach( function(athlete) { %>

			<li 
				class="athlete" 
				data-sport="<%=athlete.sport%>" 
				data-year="<%=athlete.collegeSeasons%>";
			>
				<%- include('athlete-card.ejs', {athlete}) %>

				<div class="card-details">
					<a href="athlete/<%=athlete.slug%>">Athlete Bio</a>
					<button class='flipper'>Flip Card</button>
				</div>
			</li>

		<%});%>
	</ul>
</inner-column>

<%- include('footer.ejs') %>
<%- //include('scripts/filter-menu-script.ejs') %>
<script>
	// - - - - FILTER BY SPORT CHECKBOX - - - - - - - - 



	// - - - - SORT BY NAME - - - - - - - - - - - - - -
	const $sort = document.getElementById('sortBy');
	const $names = document.querySelectorAll('.name');
	// const $athletes = document.querySelectorAll('.athlete');
	
	const years = [];

	// $athletes.forEach( function(athlete) {
	// 	const dataYears = athlete.getAttribute('data-year');
	// 	const yearsArray = dataYears.split(',').map( function(year) {
	// 		return parseInt(year);
	// 	})
	// 	years.push(...yearsArray);
	// })

	$athletes = document.querySelectorAll('athlete-card');

	$athletes.forEach( function(athlete) {
		const dataYears = athlete.querySelector('.years').innerText;
		const firstYears = parseInt(dataYears.split('-')[0]);

		years.push(firstYears);
	})

	console.log('YEARS: ', years)
	const fNamesArray = [];
	const lNamesArray = [];

	$names.forEach(function(nameElement) {
		const fullName = nameElement.innerText;
		const nameSplit = fullName.split(' ');
		const fName = nameSplit[0];
		const lName = nameSplit[1];	

		fNamesArray.push(fName);
		lNamesArray.push(lName);
	})

	// function reorderList(sortedList, selector) {
	//   const ul = document.querySelector('.card-grid');
	//   const cards = Array.from(document.querySelectorAll('li[class="athlete"]'));

	//   // Sort the cards based on the sortedList order
	//   const sortedCards = sortedList.map(function(match) {
	//     return cards.find(function(athlete) {
	//       return athlete.querySelector(selector).innerText.includes(match);
	//     });
	//   });

	//   // Clear the current content of the ul
	//   while (ul.firstChild) {
	//     ul.removeChild(ul.firstChild);
	//   }

	//   // Append the sorted cards to the ul, skipping undefined values
	//   sortedCards.forEach(function(card) {
	//     if (card) {
	//       ul.appendChild(card);
	//     }
	//   });
	// }
	function reorderList(sortedList, selector) {
	  const ul = document.querySelector('.card-grid');
	  const cards = Array.from(document.querySelectorAll('li[class="athlete"]'));

	  // Append the sorted cards to the ul, skipping undefined values
	  sortedList.forEach(function (match) {
	    const card = cards.find(function (athlete) {
	      return athlete.querySelector(selector).innerText.includes(match);
	    });

	    if (card) {
	      ul.appendChild(card);
	    }
	  });
	}

	// function reorderListNum(sortedList, selector) {
	//   const ul = document.querySelector('.card-grid');
	//   const cards = Array.from(document.querySelectorAll('li[class="athlete"]'));

	//   // Append the sorted cards to the ul, skipping undefined values
	//   sortedList.forEach(function (match) {
	//     const card = cards.find(function (athlete) {
	//     	const firstYear = parseInt(athlete.querySelector(selector).innerText.split(' - ')[0])
	//       return firstYear === match;
	//     });

	//     if (card) {
	//       ul.appendChild(card);
	//     }
	//   });
	// }

	function reorderListNum(sortedList, selector) {
	  const ul = document.querySelector('.card-grid');
	  const cards = Array.from(document.querySelectorAll('li[class="athlete"]'));

	  // Create a mapping of athlete cards by their year
	  const cardsByYear = {};
	  cards.forEach(function (athlete) {
	    const year = parseInt(athlete.querySelector(selector).innerText.split(' - ')[0]);
	    if (!cardsByYear[year]) {
	      cardsByYear[year] = [];
	    }
	    cardsByYear[year].push(athlete);
	  });

	  // Reorder the cards based on the sorted list
	  const reorderedCards = [];
	  sortedList.forEach(function (match) {
	    if (cardsByYear[match]) {
	      reorderedCards.push(...cardsByYear[match]);
	    }
		});

	  // Clear the current content of the ul
	  while (ul.firstChild) {
	    ul.removeChild(ul.firstChild);
	  }

	  // Append the reordered cards to the ul
	  reorderedCards.forEach(function (card) {
	    ul.appendChild(card);
	  });
	}

	$sort.addEventListener('change', function() {
		selectedSort = $sort.value;

		if (selectedSort == 'lastName') {
			const sortedNames = lNamesArray.slice().sort();

			reorderList(sortedNames, '.name');
		}

		if (selectedSort == 'lastNameRev') {
			const sortedNames = lNamesArray.slice().sort();
			const sortedRev = sortedNames.reverse();
			console.log(sortedNames)
			reorderList(sortedRev, '.name');
		}

		if (selectedSort == 'yearDesc') {
			const sortedYearsDesc = years.slice().sort( function(a, b) {
				return b - a;
			});	
			console.log('YEARS DESC: ', sortedYearsDesc)
			reorderListNum(sortedYearsDesc, '.years');
		}

		if (selectedSort == 'yearAsc') {
			const sortedYears = years.slice().sort( (a, b) => b - a );	
			const sortedRev = sortedYears.reverse();

			console.log('YEARS ASC: ', sortedYears)
			reorderListNum(sortedYears, '.years');
		}
	})

	// - - - - FLIP BUTTON - - - - - - - - - - - -
	const $athleteCards = document.querySelectorAll('athlete-card');
	const $button = document.querySelectorAll('.flipper');

	$button.forEach( function($button, index) {
		let isFlipped = false;	
		
		$button.addEventListener('click', function(event) {
			$athleteCards[index].classList.toggle('hovered');
			$athleteCards[index].classList.toggle('disable-hover');
			this.innerText = 'flip back';

			if (isFlipped) {
				this.innerText = 'Flip Card';
			} else {
				this.innerText = 'Flip Back';
			}

			isFlipped = !isFlipped;
		});
	});

	// - - - - FLIP TOGGLE - - - - - - - - - - - -
	const $flipToggle = document.getElementById('flip-toggle');
	let flipped = false;
	$flipToggle.addEventListener('click', function() {

		$athleteCards.forEach( function(card) {
			card.classList.toggle('disable-hover');
		})

		if (flipped) {
				$flipToggle.innerText = 'Hover is On';
		} else {
				$flipToggle.innerText = 'Hover is Off';

			}

		flipped = !flipped;

	})
</script>
