<%
	const yearsAtUw = athletes.map( function(athlete) {
		const years = [];
		for (let year = athlete.yearStarted + 1; year < athlete.yearEnded; year++) {
			years.push(year)
		}
		return [athlete.yearStarted, years, athlete.yearEnded];
	});	

	const yearsFlat = yearsAtUw.flat(Infinity);
	// console.log('years flat: ', yearsFlat)

	const uniqueYears = yearsFlat.filter( function(item, i, yearsFlat) {
		return i == yearsFlat.indexOf(item);
	});

	const yearsSorted = uniqueYears.sort();
	// console.log('YEARS SORTED: ', yearsSorted)

	// Input option value and text from node/contentful
	const sports = athletes.map( function(athlete) {
		return athlete.sport;
	});

	//Flatten sports array
	const sportsFlat = sports.flat();

	const uniqueSport = sportsFlat.filter( function(item, i, sportsFlat) {
		return i == sportsFlat.indexOf(item);
	})
	const sportsSorted = uniqueSport.sort();

	//COUNT PLAYERS IN EACH SPORT
	const sportsCount = {};
	const totalAthletes = 0;
	const countEachSport = sportsFlat.forEach(function (sport) {
	  if (sportsCount[sport]) {
	    sportsCount[sport] += 1;
	  } else {
	    sportsCount[sport] = 1;
	  }
	});

	const sportsCountFlat = sports.flat();
	const athleteTotal = sportsCountFlat.length;
	console.log('athleteTotal: ', athleteTotal);

	//Capitalize first letter of sport
	function capFirstLetter(string) {
    return string.charAt(0).toUpperCase() + string.slice(1);
	}
%>

<section class="filter-menu">
	<h3 class="attention-voice">Filter</h3>

	<div class="filters">
		<div class="filterSports">
			<label class="alert-voice" for="sportsFilter">Sport</label>
			<input type="checkbox" id="sportsFilter">

			<div class="sportsOptions hidden">
				<label for="allSports" class="selectAll">
					<input checked type="checkbox" id="allSports">
					<p class="normal-voice">Deselect All </p>
					<p class="normal-voice">(<%=athleteTotal%>)</p>
				</label>

				<% sportsSorted.forEach( function(sport) { %>	
					<label for="<%=sport%>">
						<input 
							checked
							type="checkbox" 
							id="<%=sport%>"
							data-filter="<%=sport%>"
						/>
							<p class="normal-voice">
								<%=capFirstLetter(sport)%> (<%=sportsCount[sport]%>)
							</p>
						
					</label>
				<% });%>	
			</div>
		</div>

		<div class="filterYears">
			<label class="alert-voice" for="yearsFilter">Years</label>
			<input type="checkbox" class="yearsFilter">

			<div class="yearsOptions ">
				<label for="allYears" class="selectAll">
					<input checked type="checkbox" id="allYears">
					<p class="normal-voice">Deselect All</p>
				</label>

				<% yearsSorted.forEach( function(year) { %>
				<label for="<%=year%>">
					<input 
						checked
						type="checkbox"
						id="<%=year%>"
						data-filter="<%=year%>"
					>
					<p class="normal-voice"><%=year%></p>
				</label>
				<% }); %>
			</div>
		</div>
	</div>
</section>

<script>
// - - - - TOGGLE SPORT ON/OFF - - - - - - - - 
	const $sportsFilter = document.getElementById('sportsFilter');
	const $sportsOptions = document.querySelector('.sportsOptions');
 	
 	$sportsFilter.addEventListener('change', function() {
 		if ($sportsFilter.checked) {
 			$sportsOptions.classList.remove('hidden');
 		} else {
 			$sportsOptions.classList.add('hidden');
 		}
 	})	

// - - - - SELECT/DESELECT ALL SPORTS - - - - - - - - 
	const $allSports = document.getElementById('allSports');
	const selectAll = document.querySelector('.selectAll p');
	$allSports.addEventListener('change', function() {
		if ($allSports.checked == false) {
			sportsCheckboxes.forEach( function(checkbox) {
				checkbox.checked = false;
				selectAll.innerText = 'Select All';
			})
		} else {
			sportsCheckboxes.forEach( function(checkbox) {
				checkbox.checked = true;
				selectAll.innerText = 'Deselect All';
			})
		}
	})

// - - - - SELECT/DESELECT ALL YEARS - - - - - - - - 
	const yearsCheckboxes = document.querySelectorAll('.yearsOptions input[type="checkbox"]');
	const $allYears = document.getElementById('allYears');
	// const selectAll = document.querySelector('.selectAll p');
	$allYears.addEventListener('change', function() {
		if ($allYears.checked == false) {
			yearsCheckboxes.forEach( function(checkbox) {
				checkbox.checked = false;
				selectAll.innerText = 'Select All';
			})
		} else {
			yearsCheckboxes.forEach( function(checkbox) {
				checkbox.checked = true;
				selectAll.innerText = 'Deselect All';
			})
		}
	})
	// // - - - - FILTER BY SPORT CHECKBOX - - - - - - - - 
	// const $sportsFilter = document.getElementById('sportsFilter');
	// const $sportsOptions = document.querySelector('.sportsOptions');
 	
 	// $sportsFilter.addEventListener('change', function() {
 	// 	if ($sportsFilter.checked) {
 	// 		$sportsOptions.classList.remove('hidden');
 	// 	} else {
 	// 		$sportsOptions.classList.add('hidden');
 	// 	}
 	// })

	// - - - - FILTER BY SPORT - - - - - - - - 
	// const select = document.getElementById('filterSport')
	// let selectedSport = '';
	// const $li = document.querySelectorAll('li[class="sports"]');

	// select.addEventListener('change', function() {
	// 	selectedSport = select.value;
	// 	console.log(selectedSport);
	// 	filterBySport(selectedSport);
	// 	console.log($li);
	// })

	// function filterBySport(sport) {
	// 	$li.forEach( function(item) {
	// 		const dataSport = item.getAttribute('data-sport');

	// 		if (selectedSport === dataSport || selectedSport === 'all') {
	// 			item.style.display = 'block';
	// 		} else {
	// 			item.style.display = 'none';
	// 		}
	// 	});
	// }
	// // - - - - SORT BY NAME - - - - - - - -
	// const $sort = document.getElementById('sortBy');
	// const $names = document.querySelectorAll('.name');

	// const fNamesArray = [];
	// const lNamesArray = [];

	// $names.forEach(function(nameElement) {
	// 	const fullName = nameElement.innerText;
	// 	const nameSplit = fullName.split(' ');
	// 	const fName = nameSplit[0];
	// 	const lName = nameSplit[1];	

	// 	fNamesArray.push(fName);
	// 	lNamesArray.push(lName);
	// })

	// $sort.addEventListener('change', function() {
	// 	selectedSort = $sort.value;
	// 	console.log('change');
	// 	if (selectedSort == 'lastName') {
	// 		const sortedNames = lNamesArray.slice().sort();
	// 		console.log('SORTED BY LAST NAME: ', sortedNames);

	// 		reorderList(sortedNames);
	// 	}

	// 	if (selectedSort == 'firstName') {
	// 		const sortedNames = fNamesArray.slice().sort();
	// 		console.log('SORTED BY FIRST NAME: ', sortedNames)

	// 		reorderList(sortedNames);
	// 	}
	// })

	// function reorderList(sortedList) {
	// 	const ul = document.querySelector('.card-grid');
	// 	const $li = document.querySelectorAll('li[class="sports"]');
	// 	const newList = [];

	// 	sortedList.forEach( function(name) {
	// 		const li = [...$li].find( function(li) {
	// 			return li.querySelector('.name').innerText.includes(name);
	// 		});

	// 		if (li instanceof Element) {
	// 			newList.push(li);
	// 		}
	// 	})

	// 	// ul.innerHTML = '';

	// 	newList.forEach(function(li) {
	// 		ul.appendChild(li);
	// 	});
	// }

</script>