<%
	// GET UNIQUE SEASONS PLAYED (BY YEAR)
	const collegeSeasons = athletes.map(function(athlete) {
		return athlete.collegeSeasons;
	})
	const colSeasonsFlat = collegeSeasons.flat();
  const uniqueColSeasons = colSeasonsFlat.filter( function(item, i, colSeasonsFlat) {
  	return i == colSeasonsFlat.indexOf(item);
  })
  const colSeasonsSorted = uniqueColSeasons.sort();
	const colSeasonsSortedRev = colSeasonsSorted.reverse();

	// GET UNIQUE SPORTS
	const sports = athletes.map( function(athlete) {
		return athlete.sport;
	});
	const sportsFlat = sports.flat();
	const uniqueSport = sportsFlat.filter( function(item, i, sportsFlat) {
		return i == sportsFlat.indexOf(item);
	})
	const sportsSorted = uniqueSport.sort();

	// GET UNIQUE POSITIONS
	const positions = athletes.map( function(athlete) {
		return athlete.position;
	})

	const uniquePosition = positions.filter( function(item, i, psoitions) {
		return i == positions.indexOf(item);
	})


	//COUNT PLAYERS IN EACH SPORT
	const sportsCount = {};
	const countEachSport = sportsFlat.forEach(function (sport) {
	  if (sportsCount[sport]) {
	    sportsCount[sport] += 1;
	  } else {
	    sportsCount[sport] = 1;
	  }
	});

	const athleteTotal = sports.flat().length;
	console.log(athleteTotal)

	//CAPITALIZE FIRST LETTER OF EACH SPORT
	function capFirstLetter(string) {
    return string.charAt(0).toUpperCase() + string.slice(1);
	}
%>

<section class="filter-menu">
	<h3 class="attention-voice">Filter</h3>

	<div class="filters">
		<div class="filterSports">

			<label class="alert-voice" for="sportsFilter">Sport</label>
			<input type="checkbox" id="sportsFilter">

			<div class="sportsOptions hidden">
				<label for="allSports" class="selectAll">
					<input checked type="checkbox" id="allSports">
					<p class="normal-voice">Deselect All </p>
					<p class="normal-voice">(<%=athleteTotal%>)</p>
				</label>

				<div class="sportSelect">
					<% sportsSorted.forEach( function(sport) { %>	
						<label for="<%=sport%>">
							<input 
								checked
								type="checkbox" 
								id="<%=sport%>"
								data-filter="<%=sport%>"
							/>
								<p class="normal-voice">
									<%=capFirstLetter(sport)%> (<%=sportsCount[sport]%>)
								</p>
							
						</label>
					<% });%>
				</div>

			</div>
		</div>

		<div class="filterPositions">
			<label class="alert-voice" for="positionsFilter">
				Position
			</label>
			<input type="checkbox" id="positionsFilter">

			<div class="positionsOptions hidden">
				<label for="allPositions" class="selectAll">
					<input checked type="checkbox" id="allPositions">
					<p class="normal-voice">Deselect All</p>
				</label>

				<div class="positionsSelect">
					<% uniquePosition.forEach( function(position) { %>
					<label for="<%=position%>">
						<input 
							checked
							type="checkbox"
							id="<%=position%>"
							data-filter="<%=position%>"
						>
						<p class="normal-voice"><%=position%></p>
					</label>
					<% }); %>
				</div>
		</div>

		<div class="filterYears">

			<label class="alert-voice" for="yearsFilter">Years</label>
			<input type="checkbox" id="yearsFilter">

			<div class="yearsOptions hidden">
				<label for="allYears" class="selectAll">
					<input checked type="checkbox" id="allYears">
					<p class="normal-voice">Deselect All</p>
				</label>

				<div class="yearsSelect">
					<% colSeasonsSortedRev.forEach( function(year) { %>
					<label for="<%=year%>">
						<input 
							checked
							type="checkbox"
							id="<%=year%>"
							data-filter="<%=year%>"
						>
						<p class="normal-voice"><%=year%></p>
					</label>
					<% }); %>
				</div>

			</div>

		</div>

	</div>
</section>
