<%
	// FILTER BY SEASONS PLAYED (BY YEAR)
	const collegeSeasons = athletes.map(function(athlete) {
		return athlete.collegeSeasons;
	})
	const colSeasonsFlat = collegeSeasons.flat();
  const uniqueColSeasons = colSeasonsFlat.filter( function(item, i, colSeasonsFlat) {
  	return i == colSeasonsFlat.indexOf(item);
  })
  const colSeasonsSorted = uniqueColSeasons.sort();

	// FILTER BY SPORT
	const sports = athletes.map( function(athlete) {
		return athlete.sport;
	});
	const sportsFlat = sports.flat();
	const uniqueSport = sportsFlat.filter( function(item, i, sportsFlat) {
		return i == sportsFlat.indexOf(item);
	})
	const sportsSorted = uniqueSport.sort();

	//COUNT PLAYERS IN EACH SPORT
	const sportsCount = {};
	const countEachSport = sportsFlat.forEach(function (sport) {
	  if (sportsCount[sport]) {
	    sportsCount[sport] += 1;
	  } else {
	    sportsCount[sport] = 1;
	  }
	});

	const sportsCountFlat = sports.flat();
	const athleteTotal = sportsCountFlat.length;

	//CAPITALIZE FIRST LETTER OF EACH SPORT
	function capFirstLetter(string) {
    return string.charAt(0).toUpperCase() + string.slice(1);
	}
%>

<section class="filter-menu">
	<h3 class="attention-voice">Filter</h3>

	<div class="filters">
		<div class="filterSports">
			<label class="alert-voice" for="sportsFilter">Sport</label>
			<input type="checkbox" id="sportsFilter">

			<div class="sportsOptions hidden">
				<label for="allSports" class="selectAll">
					<input checked type="checkbox" id="allSports">
					<p class="normal-voice">Deselect All </p>
					<p class="normal-voice">(<%=athleteTotal%>)</p>
				</label>

				<% sportsSorted.forEach( function(sport) { %>	
					<label for="<%=sport%>">
						<input 
							checked
							type="checkbox" 
							id="<%=sport%>"
							data-filter="<%=sport%>"
						/>
							<p class="normal-voice">
								<%=capFirstLetter(sport)%> (<%=sportsCount[sport]%>)
							</p>
						
					</label>
				<% });%>	
			</div>
		</div>

		<div class="filterYears">
			<label class="alert-voice" for="yearsFilter">Years</label>
			<input type="checkbox" id="yearsFilter">

			<div class="yearsOptions hidden">
				<label for="allYears" class="selectAll">
					<input checked type="checkbox" id="allYears">
					<p class="normal-voice">Deselect All</p>
				</label>

				<% colSeasonsSorted.forEach( function(year) { %>
				<label for="<%=year%>">
					<input 
						checked
						type="checkbox"
						id="<%=year%>"
						data-filter="<%=year%>"
					>
					<p class="normal-voice"><%=year%></p>
				</label>
				<% }); %>
			</div>
		</div>
	</div>
</section>

<script>
// - - - - TOGGLE FILTERS ON/OFF - - - - - - - - 
	const $sportsFilter = document.getElementById('sportsFilter');
	const $sportsOptions = document.querySelector('.sportsOptions');
	const $yearsFilter = document.getElementById('yearsFilter');
	const $yearsOptions = document.querySelector('.yearsOptions');

	function toggleFilters(filterType, element) {
		if (filterType.checked) {
			element.classList.remove('hidden');
		} else {
			element.classList.add('hidden');
		}
	}

	$sportsFilter.addEventListener('change', function() {
		toggleFilters($sportsFilter, $sportsOptions);
	})

	$yearsFilter.addEventListener('change', function() {
		toggleFilters($yearsFilter, $yearsOptions);
	})


// - - - - SELECT/DESELECT ALL SPORTS - - - - - - - - 
	const $allSports = document.getElementById('allSports');
	const selectAll = document.querySelector('.selectAll p');
	$allSports.addEventListener('change', function() {
		if ($allSports.checked == false) {
			sportsCheckboxes.forEach( function(checkbox) {
				checkbox.checked = false;
				selectAll.innerText = 'Select All';
			})
		} else {
			sportsCheckboxes.forEach( function(checkbox) {
				checkbox.checked = true;
				selectAll.innerText = 'Deselect All';
			})
		}
	})
// - - - - SELECT/DESELECT ALL YEARS - - - - - - - - 
	const $allYears = document.getElementById('allYears');
	$allYears.addEventListener('change', function() {
		if ($allYears.checked == false) {
			yearsCheckboxes.forEach( function(checkbox) {
				checkbox.checked = false;
				selectAll.innerText = 'Select All';
			})
		} else {
			yearsCheckboxes.forEach( function(checkbox) {
				checkbox.checked = true;
				selectAll.innerText = 'Deselect All';
			})
		}
	})

	// - - - - FILTER BY SPORT - - - - - - - - 
	// const select = document.getElementById('filterSport')
	// let selectedSport = '';
	// const $li = document.querySelectorAll('li[class="sports"]');

	// select.addEventListener('change', function() {
	// 	selectedSport = select.value;
	// 	console.log(selectedSport);
	// 	filterBySport(selectedSport);
	// 	console.log($li);
	// })

	// function filterBySport(sport) {
	// 	$li.forEach( function(item) {
	// 		const dataSport = item.getAttribute('data-sport');

	// 		if (selectedSport === dataSport || selectedSport === 'all') {
	// 			item.style.display = 'block';
	// 		} else {
	// 			item.style.display = 'none';
	// 		}
	// 	});
	// }


</script>